@font-face {
  font-family: Gotham-medium;
  src: url(../../assets/fonts/gotham-medium.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing {
  margin-top: 200px;
  margin-left: 275px;
  height: 75vh;
  background-color: #111111;
}

.name {
  color: #cecece;
  font-size: 23px;
  font-family: Gotham-medium;
  letter-spacing: 5px;
  padding-left: 5px;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.titleOne,
.titleTwo {
  color: white;
  font-family: Gotham-medium;
  font-size: 100px;
}

.divider {
  width: 25%;
  height: 2px;
  background-color: #cecece;
  margin-left: 25px;
  margin-top: 20px;
}

.addSign {
  color: #707070;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scrollbtn {
  margin-top: 120px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: 50px;
  display: flex;
  justify-self: center;
}
.scrollbtn > * {
  display: inline-block;
  line-height: 15px;
  font-size: 13px;
  font-weight: normal;
  color: #707070;
  letter-spacing: 2px;
}
.scrollbtn > *:hover,
.scrollbtn > *:focus,
.scrollbtn > *.active {
  color: #707070;
}
.scrollbtn > *:hover,
.scrollbtn > *:focus,
.scrollbtn > *:active,
.scrollbtn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scrollbtn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #707070;
  border-radius: 23px;
}
.scrollbtn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #707070;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}
