@font-face {
  font-family: Gotham-book;
  src: url(../../assets/fonts/gotham-book.woff2);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: Gotham-book;
}

.content {
  width: 50%;
  align-self: center;
  padding-left: 150px;
  padding-right: 100px;
}

.creative {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  /* border: 1px solid yellow; */
}

.srNo {
  color: #00eeff;
  margin-bottom: 21px;
  font-weight: bold;
}

.titleOne {
  color: white;
  margin-bottom: 24px;
  font-size: 35px;
  text-transform: capitalize;
}

.description {
  color: #cdcdcd;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.button {
  height: 56px;
  width: 194px;
  color: black;
  font-family: Gotham-book;
  font-size: 18px;
  font-weight: 900;
  margin-top: 32px;
  text-transform: capitalize;
  clip-path: polygon(0% 0%, 100% 0%, 100% 74.49%, 93.29% 100%, 0% 100%);
  background-color: #00eeff;
}

.video {
  width: 450px;
  height: 450px;
  position: absolute;
  z-index: 1;
  padding-top: 45px;
  transform: scale(1.8); /* Zoom in by 20% (adjust the value as needed) */
}

.videoDiv {
  width: 450px;
  height: 450px;
  position: absolute;
  z-index: 1;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 75px),
    calc(100% - 75px) 100%,
    0 100%
  );
}
