@font-face {
  font-family: Gotham-book;
  src: url(../../assets/fonts/gotham-book.woff2);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: Gotham-book;
}

.content {
  width: 50%;
  align-self: center;
  padding-left: 150px;
  padding-right: 100px;
}

.creative {
  width: 50%;
  /* border: 1px solid yellow; */
}

.srNo {
  color: #00eeff;
  margin-bottom: 21px;
  font-weight: bold;
}

.titleOne {
  color: white;
  margin-bottom: 24px;
  font-size: 35px;
  text-transform: capitalize;
}

.description {
  color: #cdcdcd;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .textwrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}