@font-face {
  font-family: Gotham-medium;
  src: url(../../assets/fonts/gotham-medium.woff2);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: Gotham-book;
}

.content {
  width: 55%;
  /* padding: 120px 64px 0 150px; */
  /* border: 1px red solid; */
  padding: 0 64px 0 150px;
  align-self: center;
}

.creative {
  width: 45%;
  /* border: 1px solid yellow; */
  display: flex;
  align-self: center;
  padding-right: 200px;
}

.title {
  font-size: 50px;
  font-family: Gotham-medium;
  color: white;
}

.description {
  color: red;
  padding-top: 25px;
  line-height: 1.5;
  color: #cecece;
  font-size: 23px;
}

.row {
  height: 78px;
  width: 100%;
  color: #cecece;
  font-size: 22px;
  border-top: 2px solid #cecece;
  border-bottom: 2px solid #cecece;
  display: flex;
  align-items: center;
}
