@font-face {
  font-family: Gotham-medium;
  src: url(../../assets/fonts/gotham-book.woff2);
}
.name {
  color: #cecece;
  font-size: 23px;
  font-family: Gotham-medium;
  letter-spacing: 5px;
  padding-left: 5px;
  font-weight: 500;
}
